ion-input, ion-textarea{
    --background: #f6f6f6;
    border-radius: 5px;

 }
 .box{
     width: 70%;
     margin: auto;
 }
 .input{
     margin-top: 5px;
     font-family: LemonMilkUltraLight;
     font-size: 12px;
     color: #010101;
 }
 ion-title{
    font-family:  Lemon-Milk-Regular;
 }
