
ion-toolbar {
  --background: none;
}

ion-title {
  font-family: Lemon-Milk-Regular;
  color: #010101;
  margin-left: 10%;
}
.label{
    font-family: LemonMilkUltraLight;
}
ion-header{
  background-color: #ffff;
}
.box {
  width: 70%;
  margin: auto;
}
