ion-input,
ion-textarea {
  --background: #f6f6f6;
  border-radius: 5px;
  font-family: LemonMilkUltraLight;
  font-size: 15px;
}
.box {
  width: 70%;
  margin: auto;
}
ion-title {
  font-family: Lemon-Milk-Regular;
}
ion-header {
  background-color: #ffff;
}
