/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
  font-family: Lemon-Milk-Medium;
  src: url(assets/font/LEMONMILK-Medium.otf) format("opentype");
}

@font-face {
  font-family: LemonMilkUltraLight;
  src: url(assets/font/LemonMilkUltraLight.otf) format("opentype");
}

@font-face {
  font-family: Lemon-Milk-Regular;
  src: url(assets/font/LEMONMILK-Regular.otf) format("opentype");
}

.my-alert-confirm .alert-wrapper {
  font-family: LemonMilkUltraLight;
  .alert-title {
    font-size: 12px;
  }
  .alert-button-cancel {
    color: #ff0000;
  }
  .alert-message {
    font-size: 12px;
  }
  .alert-button-group {
    justify-content: center;
  }
}

.my-alert-confirm-emoji .alert-wrapper {
  font-family: LemonMilkUltraLight;

  .alert-title {
    font-size: 30px;
    display: flex;
    justify-content: center;
  }
  .alert-button-cancel {
    color: #ff0000;
  }
  .alert-message {
    font-size: 12px;
  }
  .alert-button-group {
    justify-content: center;
  }
}

.my-alert-saver .alert-wrapper {
  font-family: LemonMilkUltraLight;
  .alert-title {
    font-size: 12px;
  }
  .alert-button-cancel {
    color: #ff0000;
  }

  .alert-button-group {
    justify-content: center;
  }
}

.my-alert-notSaaver .alert-wrapper {
  font-family: LemonMilkUltraLight;
  .alert-title {
    font-size: 12px;
  }
}

.validation {
  display: flex;
  font-size: 10px;
  margin: 5px 0;
  transition: all 0.5s ease-in;
  font-family: Lemon-Milk-Regular;
}

ion-toast {
  --max-width: 50%;
  margin-bottom: 50px;
  --background: black;
}
.my-toast {
  .toast-message {
    text-align: center;
  }
}

ion-fab-button {
  --background: #000000;
}

@media(pointer: fine) {
  ::-webkit-scrollbar {
    width: 18px;
  }
  ::-webkit-scrollbar-track {
    background: #fff;
  }
  ::-webkit-scrollbar-track:hover {
    background: #f7f7f7;
  }
  ::-webkit-scrollbar-thumb {
    background: #ccc;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #888
  }
  .inner-scroll {
    scrollbar-width: thin
  }
}
